* {
    background-color: #cfdbe0;
  }
  h1 {
    color: rgb(133, 28, 110);
    text-align: center;
    font-size: 40px;
    text-transform: inherit;
    text-underline-position: below;
    font-style: oblique;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a {
    font-size: 20px;
    color: rgb(19, 160, 113);
  }
  .main {
    font-size: 100px;
    text-align: center;
    color: #f0ffff;
    text-shadow: 5px 5px 10px rgb(6, 25, 28);
    border: 20px solid rgb(146, 71, 83);
    border-radius: 5px;
    /* border-color: blue; */
    background-color: rgb(200, 100, 20);
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    box-shadow: 40px 50px 10px 5px grey;
    transform: translate(0px, 10px);
  }
  .had {
    font-size: 60px;
    box-shadow: 10px 10px 20px 5px red;
    border-radius: 15px;
    text-shadow: 10px 5px 5px rgb(146, 71, 83);
  }