*{
    margin-bottom: 10px ;
    background-image: url("image/priyanuch-konkaew-JaR_cKU3J_Y-unsplash.jpg");
    background-size: 1000px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    /* background:linear-gradient(blue black); */
}
p{
    color: burlywood;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-decoration:dotted;
    text-transform:capitalize;
    text-shadow: 1px 1px 2px red ;
}
h1{
    color: darkgray;
    background-color: antiquewhite;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
}
h2{
    color: aqua;
}
h3{
    color: aquamarine;
}
ul{
    color: cyan ;
    
    
}
ol{
    color: beige;
}
a{
    color: brown;
}



iframe{
    border: azure;
    border-width: 10px;
}
button{
    border: thick;
    border-radius: 1px;
    border: double ;
    border-color: bisque;
    float: left;
}
button_one{
    float: left;
}
button_two{
    float: left;
}
/* video{
    float: left;
} */

footer{
    background-color: coral;
    color: aqua;
}
nav{
    /* overflow: auto; */
    background-color: coral;
    color: aqua;
}